@model List<StockExchange.Models.StockModel>

@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Stock Name</th>
                <th>Last Price</th>
                <th>Buying Price</th>
                <th>Sales Price</th>
                <th>Daily Low</th>
                <th>Daily High</th>
                <th>Daily Change</th>
                <th>Daily Capacity</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td id="StockName@(item.StockName)"><a href="/show/@item.StockName.Replace(' ','-')/">@item.StockName</a> <span class="s up"></span></td>
                    <td id="LastPrice@(item.LastPrice)">@item.LastPrice</td>
                    <td id="BuyingPrice@(item.BuyingPrice)">@item.BuyingPrice</td>
                    <td id="SalesPrice@(item.SalesPrice)">@item.SalesPrice</td>
                    <td id="DailyLow@(item.DailyLow)">@item.DailyLow</td>
                    <td id="DailyHigh@(item.DailyHigh)">@item.DailyHigh</td>
                    <td id="DailyChange@(item.DailyChange)">@item.DailyChange</td>
                    <td id="DailyCapacity@(item.DailyCapacity)">@item.DailyCapacity</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-3">
        
    </div>
    <div class="col-md-3">
        
    </div>
    <div class="col-md-3">
        
    </div>
    <div class="col-md-3">
        
    </div>
</div>
